<form autocomplete="off" [formGroup]="productoForm" (ngSubmit)="agregarEditarProducto()">

    <div class="row">
        <div class="col-lg-12 text-center">
            <button mat-raised-button color="secondary" routerLink="/inicio/productos" class="m-3">Regresar</button>
            <button mat-raised-button color="primary" *ngIf="!enviado" [disabled]="enviarForm || productoForm.invalid" type="submit" class="m-3">{{titulo}} Producto</button>
            <button mat-raised-button color="primary" *ngIf="enviado" [disabled]="true" type="submit" class="m-3">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Agregando producto...
            </button>

        </div>
    </div>
    <div class="row mt-3 animate__animated animate__fadeIn">
        <div class="col-lg-6">
            <div class="col-lg-12">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field>
                <span class="form-text text-danger error" *ngIf="nombreRequerido">El nombre es requerido</span>
            </div>
            <div class="col-lg-12 mt-2">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Marca</mat-label>
                    <input matInput formControlName="marca">
                </mat-form-field>
                <span class="form-text text-danger error" *ngIf="marcaRequerida">La marca es requerida</span>

            </div>
            <div class="col-lg-12 mt-2">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="descripcion">
                </mat-form-field>
                <span class="form-text text-danger error" *ngIf="descripcionRequerida">La descripción es requerida</span>


            </div>
            <div class="col-lg-12 mt-2">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Precio</mat-label>
                    <span matPrefix>$ &nbsp;</span>

                    <input type="number" min="1" matInput formControlName="precio">
                </mat-form-field>
                <span class="form-text text-danger error" *ngIf="precioRequerido">El precio es requerido</span>


            </div>
            <div class="col-lg-12 mt-2">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Cantidad</mat-label>
                    <input matInput type="number" min="1" formControlName="cantidad">
                </mat-form-field>
                <span class="form-text text-danger error" *ngIf="cantidadRequerida">La cantidad es requerida</span>


            </div>
            <div class="col-lg-12 mt-2">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Proveedor</mat-label>
                    <mat-select formControlName="proveedor">
                        <mat-option *ngFor="let proveedor of proveedores" [value]="proveedor._id">
                            {{proveedor.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="form-text text-danger error" *ngIf="proveedorRequerido">El proveedor es requerido</span>


            </div>
            <!-- <div class="col-lg-12 mt-2">
                <mat-form-field class="container-form" [style.fontSize.px]="16">
                    <mat-label>Imagen</mat-label>
                    <input matInput formControlName="imagen">
                </mat-form-field>

            </div> -->
        </div>

        <div class="col-lg-6 text-center mt-5 animate__animated animate__fadeIn animate__delay-0.5s">
            <img [src]="imageSrc" *ngIf="imageSrc" class="img-responsive img ">

            <div class="container-form mt-5" [style.fontSize.px]="16">
                <input type="file" (change)="fileChange($event)" value="img_id" formControlName="imagen">

            </div>
            <!-- <span class="form-text text-danger" *ngIf="imagenRequerida">Selecciona una imagen</span> -->
            <span class="form-text text-danger" *ngIf="tiposValidos">{{mensajeTipos}}</span>
        </div>
    </div>
</form>