<p>
    <mat-toolbar color="primary" class="nav-bar mat-elevation-z6">
        <mat-toolbar-row>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
          </button>
            <span>Mi Tiendita</span>

            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>face</mat-icon>
        </button>
            <span>{{_usuarioService.usuario.nombre}}</span>

        </mat-toolbar-row>


    </mat-toolbar>
</p>